@model List<LearningPlatform.Models.Chapter>
@{
    ViewBag.Title = "Learning Platform";
}
<div class="container">
    <!--  Carousel -->
    <!--  consult Bootstrap docs at 
            http://twitter.github.com/bootstrap/javascript.html#carousel -->
    <div id="this-carousel-id" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <a href="http://www.lums.edu.pk/">
                    <img src="/content/Images/math_poster.jpg" alt="Antennae Galaxies" />
                </a>
                <div class="carousel-caption">
                    <p>
                        ------- </p>
                    <p>
                        <a href="http://www.lums.edu.pk/">
                            lums.edu.pk &raquo;</a></p>
                </div>
            </div>
            <div class="item">
                <a href="http://www.lums.edu.pk/">
                    <img src="/Content/images/poster2.jpg" alt="Carina Caterpillar" />
                </a>
                <div class="carousel-caption">
                    <p>
                        ----------- </p>
                    <p>
                        <a href="http://www.lums.edu.pk/">
                            lums.edu.pk &raquo;</a></p>
                </div>
            </div>
            <div class="item">
                <a href="http://www.lums.edu.pk/">
                    <img src="/Content/images/poster3.jpg" alt="Light Echo" />
                </a>
                <div class="carousel-caption">
                    <p>
                        -------- </p>
                    <p>
                        <a href="http://www.lums.edu.pk/">lums.edu.pk
                            &raquo;</a></p>
                </div>
            </div>
            <div class="item">
                <a href="http://www.lums.edu.pk/">
                    <img src="/Content/images/ngc5866.jpg" alt="Galaxy NGC5866" />
                </a>
                <div class="carousel-caption">
                    <p>
                        ----- </p>
                    <p>
                        <a href="http://www.lums.edu.pk/">
                            lums.edu.pk &raquo;</a></p>
                </div>
            </div>
        </div>
        <!-- .carousel-inner -->
        <!--  next and previous controls here
              href values must reference the id for this carousel -->
        <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div>
    <!-- .carousel -->
    <!-- end carousel -->
    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <img class="img-circle" src="/content/Images/logo.png">
            <h2>
                Courses</h2>
            <p>
                Browse All our Courses.
            </p>
            <p>
                <a class="btn" href="@Url.Content("~/Platform/")">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <img class="img-circle" src="/content/Images/logo.png"/>
            <h2>
                Fresh off the grill</h2>
            <p>
                Find out what interesting Courses are going to start in the comming weeks.
            </p>
            <p>
                <a class="btn" href="@Url.Content("~/Platform/")">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <img class="img-circle" src="/content/Images/logo.png"/>
            <h2>
                About Us</h2>
            <p>
                Software Engineering Lab Cs Department LUMS.</p>
            <p>
                <a class="btn" href="#">View details &raquo;</a></p>
        </div>
    </div>
</div>
<!-- <div id="promotion">
</div> -->
<!-- 
<h3><em>Fresh</em> off the grill</h3>

<ul id="grill-list">
    @foreach (var chapter in Model)
    {
        <li><a href="@Url.Action("Details", "Platform",
        new { id = chapter.ChapterId })">

            <img alt="@chapter.ChapterTitle" src="@chapter.ChapterArtUrl" />
            <span>@chapter.ChapterTitle</span> </a>
        </li>
    }
</ul> -->
