@model LearningPlatform.ViewModels.InstructorIndexData
@{
    ViewBag.Title = "Manage Courses";
}
<h3>
    Manage Your Courses</h3>
<div class="btn-toolbar">
    <a href="@Url.Action("Create")">
        <button class="btn btn-primary">
            Create New
        </button>
    </a>
</div>
<!--sdbsahdbhasbdh -->
<div class="well">
    <table class="table">
        <thead>
            <tr>
                <th>
                </th>
                <th>
                    Instructor Name
                </th>
                <th>
                    Courses
                </th>
                <th style="width: 100px;">
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var item = Model.CurrentInstructor;
                string selectedRow = "";
                if (item.UserID == ViewBag.InstructorID)
                {
                    selectedRow = "selectedrow";
                } 
                <tr class="@selectedRow" valign="top">
                    <td>
                        @Html.ActionLink("Select", "ManageCourses", new { id = item.UserID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                    </td>
                    <td>
                        @item.InstructorName
                    </td>
                    <td>
                        @{
                            foreach (var course in item.Courses)
                            {
                            @course.CourseId @: @course.CourseName <br />
                            }
                        }
                    </td>
                </tr> 
            }
        </tbody>
    </table>
</div>
@if (Model.Courses != null)
{
    <p>
    </p>
    <p>
    </p>
    <h3>
        Courses Taught by You</h3>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Course Code
                    </th>
                    <th>
                        Course Title
                    </th>
                    <th>
                        Department
                    </th>
                    <th style="width: 100px;">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var citem in Model.Courses)
                {
                    selectedRow = "";
                    if (citem.CourseId == ViewBag.CourseID)
                    {
                        selectedRow = "selectedrow";
                    } 
                    <tr class="@selectedRow">
                        <td>
                            @Html.ActionLink("Select", "ManageCourses", new { courseID = citem.CourseId })
                        </td>
                        <td>
                            @citem.CourseId
                        </td>
                        <td>
                            @citem.CourseName
                        </td>
                        <td>
                            @citem.Department.DepartmentName
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
    </div>
}
@if (Model.Enrollments != null)
{
    <p>
    </p>
    <p>
    </p>
    <h3>
        Students Enrolled in Selected Course</h3>
    <div class="well">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Student Name
                    </th>
                    <th>
                        Grade
                    </th>
                    <th style="width: 100px;">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eitem in Model.Enrollments)
                { 
                    <tr>
                        <td>
                            @eitem.Student.StudentName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => eitem.Grade)
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
    </div>
}
<p>
    <a  href="@Url.Action("Index")">
        <button class="btn btn-primary">
            Back to DashBoard</button></a></p>
