@model LearningPlatform.Models.Chapter

@{
    ViewBag.Title = "Details";
}


<fieldset>
    <h2> Chapter Details</h2>
    <div class="span4 well">
	<div class="row">
		<div class="span1"><img src="/content/Images/user.jpg" alt=""></div>
		<div class="span3">
            <p>Course: </p>
          	<p><strong>@Html.DisplayFor(model => model.Course.CourseName)</strong></p>
            <p>Instructor: </p>
            <p><strong>@Html.DisplayFor(model => model.Instructor.InstructorName)</strong></p>
            <p>Chapter Title:</p>
            <p><strong>@Html.DisplayFor(model => model.ChapterTitle)</strong></p>
			<a href="@Url.Action("Edit", new { id = Model.ChapterId })">
            <span class=" badge badge-warning">Edit</span> </a>
            <a href="@Url.Action("Index")">
            <span class=" badge badge-info">Back to List</span> </a>
		</div>
	</div>
</div>
</fieldset>


