@model LearningPlatform.Models.Chapter
@{
    ViewBag.Title = "Edit";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="well span4">
    <h2>
        Edit</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Chapter</legend>
            <div>
                @Html.LabelFor(model => model.CourseId, "Course")
            </div>
            <div>
                @Html.DropDownList("CourseId", String.Empty)
                <div class="alert alert-error">@Html.ValidationMessageFor(model => model.CourseId)</div>
            </div>
            <div>
                @Html.LabelFor(model => model.InstructorId, "Instructor")
            </div>
            <div>
                @Html.DropDownList("InstructorId", String.Empty)
                <div class="alert alert-error">@Html.ValidationMessageFor(model => model.InstructorId)
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.ChapterTitle)
            </div>
            <div>
                @Html.EditorFor(model => model.ChapterTitle)
                <div class="alert alert-error">@Html.ValidationMessageFor(model => model.ChapterTitle)</div>
            </div>
            <div>
                @Html.LabelFor(model => model.ChapterArtUrl)
            </div>
            <div>
                @Html.EditorFor(model => model.ChapterArtUrl)
                <div class="alert alert-error">@Html.ValidationMessageFor(model => model.ChapterArtUrl)</div>
            </div>
            <p>
                <button class="btn btn-primary" type="submit">
                    Save</button>
                <!-- <input type="submit" value="Log On" /> -->
            </p>
        </fieldset>
        <!-- <input type="submit" value="Save" /> -->

    }
    <div>
        <a href="@Url.Action("Index")">
            <button class="btn btn-primary">
                Back to List
            </button> </a>
    </div>
</div>
