@model LearningPlatform.Models.Course
@{
    ViewBag.Title = "Browse Chapters";
}
<div class="well container">
    <h3>
        @Model.CourseName</h3>
    <p>
        List of Chapters</p>
    <ul class="thumbnails">
        <!-- List start -->
        @foreach (var chapter in Model.Chapters)
        {
            @*<li class="span3">
                <div class="thumbnail">
                    <a href="@Url.Action("Details", new { id = chapter.ChapterId })">
                        <div class="caption">
                            <h5>@chapter.ChapterTitle</h5>
                        </div>
                        <div class="thumbnail">
                            <img alt="@chapter.ChapterTitle" src="@chapter.ChapterArtUrl" />
                        </div>
                    </a>
                </div>
            </li>*@
            
            
            <li class="span4 well">
                <fieldset>
                    <h4>
                        Chapter: @chapter.ChapterTitle</h4>
                    <div class="row">
                        <div class="span1">
                            <img src="/content/Images/placeholder.gif" alt="" /></div>
                        <div class="span3">
                            <p>
                                Instructor:
                            </p>
                            <p>
                                <strong>Pervaiz HoodBhoy</strong></p>
                            <p>
                                Course:
                            </p>
                            <p>
                                <strong>@chapter.Course.CourseName</strong></p>
                            <a href="@Url.Action("Details", new { id = chapter.ChapterId })"><span class=" badge badge-warning">
                                Details</span> </a>
                        </div>
                    </div>
                </fieldset>
            </li>
            
            
        }
    </ul>
</div>
